/*!CK:2857767295!*//*1421047574,*/

.sp_X-noLtfRvpG{background-image:url(/rsrc.php/v2/yj/r/e5xbzWllFHS.png);background-size:16px 30px;background-repeat:no-repeat;display:inline-block;height:14px;width:14px}.sp_X-noLtfRvpG.sx_3c2a52{background-position:0 0}.sp_X-noLtfRvpG.sx_6e8141{width:12px;height:12px;background-position:0 -16px}

#bootloader_BLAup { height: 42px; }
.bootloader_BLAup { display:block !important; }